<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>Bootstrap 101 Template</title>

  <!-- Bootstrap -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<div class='container'>
		<center>
			<h2>排班结果</h2>
			<div style="margin-right:auto;margin-left:auto;">
				<table class='table'>
					<tbody>
						<tr class="bg-primary">
							<td>日期</td>
							<td>夜班护士1</td>
							<td>夜班护士2</td>
							<td>夜班护士3</td>
							<td>后备夜班护士1</td>
							<td>后备夜班护士2</td>
							<td>后备夜班护士3</td>
							<td>后备夜班护士4</td>
							<td>后备夜班护士5</td>
							<td>后备夜班护士6</td>
						</tr>
						<% @schedules.each_key { |date| %>
							<tr>
								<td><%= date %></td>
								<% for nurse in @schedules[date] %>
									<td><%= nurse %></td>
								<% end %>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<a href="<%= schedules_backToIndex_path %>">返回</a> 
		</center>
	</container>
</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src='/jquery.min.js'></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script></html>
